.switch {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 1.25rem;
  padding: 0.125rem;
  background-color: currentColor;
  cursor: pointer;

  input {
    display: none;

    &:checked + .slider {
      background-color: var(--color-2);
      transform: translateX(100%);
    }
  }

  .slider {
    display: block;
    width: 50%;
    height: 100%;
    background-color: var(--color-4);
    transition: var(--transition-sm);
  }
}
