@use "../../assets/styles/mixins.scss" as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  gap: 1rem;
  margin: 1px;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  overflow: hidden;
}

.cardImage {
  position: relative;
  height: 10rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    .cardFavoriteButton {
      opacity: 1;
    }
  }

  .cardFavoriteButton {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    color: var(--color-1);
    background-color: var(--color-main-bg);
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: var(--shadow-xs);
    cursor: pointer;
    transition: var(--transition-md);

    svg {
      transition: var(--transition-md);
    }

    &:hover {
      svg {
        transform: scale(1.1);
      }
    }

    @include for-min-(md) {
      opacity: 0;
    }
  }
}

.cardBody {
  padding: 1rem;
}

.cardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.cardPrice {
  font-size: var(--fs-5);
  font-weight: 700;
}

.cardAddButton {
  padding: 0.5rem 1rem;
  border-radius: var(--radius-pill);
  background-color: var(--color-2);
  border: 1px solid var(--color-main-text);
  color: var(--color-1);
  cursor: pointer;
  transition: var(--transition-md);

  &:hover {
    border-color: currentColor;
  }
}
