@use "../../assets/styles/mixins.scss" as *;

.card {
  @include flex-between;
  position: relative;
  flex-direction: column;
  min-height: 20rem;
  box-shadow: var(--shadow-sm);

  @include for-min-(md) {
    min-height: 10rem;
    flex-direction: row;
  }
}

.cardImage {
  width: 100%;
  height: 10rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include for-min-(md) {
    width: 15rem;
    height: 15rem;
  }
}

.cardBody {
  @include flex-between;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}

.cardContent {
  @include flex-between;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  @include for-min-(md) {
    flex-direction: row;
  }
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .cardTitle {
    font-weight: 700;
  }

  .cardPrice {
    font-size: var(--fs-5);
    font-weight: 700;
  }

  @include for-min-(md) {
    width: 50%;
  }
}

.cardDeleteButton {
  width: 100%;
  color: var(--color-main-bg);
  background-color: var(--color-main-text);
  padding: 0.5rem;
  border: 1px solid currentColor;
  text-align: center;
  cursor: pointer;
  transition: var(--transition-md);

  &:hover {
    color: var(--color-main-text);
    background-color: var(--color-main-bg);
  }

  @include for-min-(md) {
    width: 50%;
    margin-right: auto;
  }
}

.modal {
  @include flex-between;
  flex-direction: column;
  height: 10rem;
  text-align: center;
}

.modalActions {
  @include flex-centered;
  flex-direction: column;
  align-items: stretch;

  @include for-min-(md) {
    flex-direction: row;
    gap: 1rem;
  }
}

.modalRemoveButton,
.modalFavoriteButton {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-main-text);
  color: var(--color-main-bg);
  border: 1px solid currentColor;
  transition: var(--transition-sm);

  &:hover {
    color: var(--color-main-text);
    background-color: var(--color-main-bg);
  }

  &.hide {
    display: none;
  }
}
