.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.languageSwitcher {
  border: none;
  outline: none;
  background-color: transparent;
  color: currentColor;
  cursor: pointer;
}
