.productList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
  font-weight: 700;
}
